h4 {
  font-weight: 200;
  margin-bottom: 1px;
}

h6 {
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 1px;
}

.logo {
  font-size: 28px;
  font-weight: 800;
  padding-left: 10px;
  line-height: 56px;
}

.bordered {
  box-shadow: 0 0 15px #DDD;
  /* border: 1px solid #CCC; */
}

.card:empty {
  display:none;
}

.source h5 {
  margin-top: 3px;
  font-weight: 200;
}

.source p {
  font-weight: 200;
  font-size: 14px;
}

.collection a {
  color: black !important;
}

.source img {
  max-width: 100%;
  max-height: 50px;
}

p.model-info {
  color: #AAA;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 45px;
}

.model-info a {
  color: black;
}

.hidden {
  display: none;
}

input.hidden + label {
  display: none;
}

#inputs {
  position: relative;
}

#outputs {
  position: relative;
  font-size: 16px;
  font-weight: 300;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F5F5F5dd;
  z-index: 1000;
}

.spinner-green, .spinner-green-only {
  border-color: #bdbdbd;
}

.row .port-sidebar {
  background-color: #F5F5F5;
  border-radius: 5px;
  margin: 7px 0 0 0;
  padding: 5px 13px 13px 13px;
}

.port-sidebar .port-title{
  font-size: 28px;
  margin-top: 15px;
}

.port-copy {
  padding: 0 .75rem;
  text-align: right;
  opacity: 1;
  font-weight: 300;
}

.port-copy p {
  margin: 5px;
}

.port-flat {
  box-shadow: none !important;
  background-color: #26C9BD;
}

.port-collection-item {
  min-height: 43px;
}

.port-collection-item span.port-badge {
  min-width: 100px;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 1rem;
  height: 22px;
  color: #888;
  float: left;
  box-sizing: border-box;
  text-transform: capitalize;
}

.port-hidden {
  display: none;
}

.port-btn {
  background-image: linear-gradient(141deg, #27c9ba 0%, #1fc8db 51%, #2cb5e8 75%);
}

.error-toast {
  background: #DA224C;
}

@media only screen and (max-width: 860px) {
  nav.white {
    background-color: #F5F5F5 !important;
  }
}
